progress_4/pinecone.json
{
  "name": "pinecone",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a2d3d378-1b19-40a1-aa1a-6b2e188e12d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SeEmwEufM5_zxdpUu2JBOdPBST2u0EQm",
            "mode": "list",
            "cachedResultName": "RAG-Document",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SeEmwEufM5_zxdpUu2JBOdPBST2u0EQm"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "ebb7011c-3748-4c30-95be-43558f06dc75",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mRr1T0fJmnwQ0Tmw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        0
      ],
      "id": "4bea18be-4d16-46b9-bba9-62f158fce33d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mRr1T0fJmnwQ0Tmw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "pariwisata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        800,
        0
      ],
      "id": "8807d07d-e73f-426d-a0d1-29110508e810",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "X5KHexJkzInsu4N4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        256
      ],
      "id": "9b9dff1d-b18b-4f16-9662-88df7a098075",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SbkNSL5b4o3OSODv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        960,
        256
      ],
      "id": "2dd02967-e73d-4832-9468-868f93290120",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "309adf66-01d4-41a1-880b-1a975c8f482e",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "749324ce-5b17-44ea-a314-5fa33aa805fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d23a32b8c4e9d011f86d872c56486220f1f27236128b0def699c54210f2fc956"
  },
  "id": "W6jddFqf26DAfnZY",
  "tags": []
}